@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);
body {
  font-family: 'Concert One', cursive;
  background: #fac499;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(2%, #fac499), to(#a2ff7d));
  background: linear-gradient(0deg, #fac499 2%, #a2ff7d 100%);
  position: relative;
}

td {
  width: 3rem;
  text-align: center;
  border: solid 1px black;
}

.jumbotron {
  background-image: url(./components/Jumbotron/jumbotronwallpapercaca.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 18rem;
  border: solid 3px black;
  border-left: none;
  border-right: none;
}

.componentFooter {
  height: 3rem;
  color: wheat;
  background-color: black;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.componentFooter .footerIcon.fa {
  color: white !important;
}

.componentFooter .footerIcon.fa:hover {
  color: #8c4e2b !important;
}

.boxGame {
  height: 22rem;
  background-image: url(./components/Board/boardpark.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 3px black;
}

.boxScore {
  height: 6.5rem;
  color: white;
  background-image: url(./components/Score/scorewall.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 3px black;
}

.boxAction {
  height: 14.5rem;
  color: white;
  background-color: #764427;
  border: solid 3px black;
}

.jumbotronTitle {
  font-size: 25pt;
  color: white;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.843);
  border: solid 2px brown;
}

.title {
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.843);
  border: solid 3px green;
  border-radius: 23px 23px 23px 23px;
  -moz-border-radius: 23px 23px 23px 23px;
  -webkit-border-radius: 23px 23px 23px 23px;
}

.pooButton {
  height: 11rem;
  width: 11rem;
  background-color: rgba(222, 184, 135, 0) !important;
  background-image: url(https://png2.cleanpng.com/sh/99fa4b8279626b211e1abb350241b1d0/L0KzQYm3U8IxN6ttj5H0aYP2gLBuTgBqdJYyh9g2cHByPbb0jBpqNZdqe9d8LYSwg7nwkwQue6Vue91ucj3zf7F3TgBvb15qhdHzaT3sg73ojvQuPZJnSdU6ZULlcoi5gcMvQGc9UasAOEi0RYO4Vck5QWU7T6gCOD7zfri=/kisspng-pile-of-poo-emoji-feces-t-shirt-sticker-poop-png-emoji-island-5ab1c1e2bb72a3.8689958815215989467678.png);
}

.pooButton img {
  height: 10rem;
  width: 10rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.actionButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100px;
  margin: 0.3rem !important;
  color: black;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.actionButton .buttonAvaible {
  border: 2px solid green;
}

.actionButton .buttonDisabled {
  background-color: grey !important;
}

.actionButton .buttonClick {
  background-color: yellow !important;
}

.actionButton:hover {
  background-color: green !important;
  color: white;
}

.box {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

h1 {
  font-size: 5em;
  font: bold 7.5vw/1.6 'Signika', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 span {
  display: inline-block;
  -webkit-animation: float .2s ease-in-out infinite;
          animation: float .2s ease-in-out infinite;
}

@-webkit-keyframes float {
  0%, 100% {
    -webkit-transform: none;
            transform: none;
  }
  33% {
    -webkit-transform: translateY(-1px) rotate(-2deg);
            transform: translateY(-1px) rotate(-2deg);
  }
  66% {
    -webkit-transform: translateY(1px) rotate(2deg);
            transform: translateY(1px) rotate(2deg);
  }
}

@keyframes float {
  0%, 100% {
    -webkit-transform: none;
            transform: none;
  }
  33% {
    -webkit-transform: translateY(-1px) rotate(-2deg);
            transform: translateY(-1px) rotate(-2deg);
  }
  66% {
    -webkit-transform: translateY(1px) rotate(2deg);
            transform: translateY(1px) rotate(2deg);
  }
}

body:hover span {
  -webkit-animation: bounce .6s;
          animation: bounce .6s;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: rotateX(20deg) translateY(2px) rotate(-3deg);
            transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
    -webkit-transform: translateY(-20px) rotate(3deg) scale(1.1);
            transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: rotateX(20deg) translateY(2px) rotate(-3deg);
            transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
    -webkit-transform: translateY(-20px) rotate(3deg) scale(1.1);
            transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}

span:nth-child(4n) {
  color: #e2c636;
  text-shadow: 1px 1px #c9ac1d, 2px 2px #a6953f, 3px 3px #a6953f, 4px 4px #c9ac1d;
}

span:nth-child(4n-1) {
  color: #64b478;
  text-shadow: 1px 1px #4b9b5f, 2px 2px #4b9b5f, 3px 3px #4b9b5f, 4px 4px #4b9b5f;
}

span:nth-child(4n-2) {
  color: #75bd9f;
  text-shadow: 1px 1px #609f85, 2px 2px #609f85, 3px 3px #609f85, 4px 4px #609f75;
}

span:nth-child(4n-3) {
  color: #db9957;
  text-shadow: 1px 1px #b98046, 2px 2px #b98046, 3px 3px #b98046, 4px 4px #b98046;
}

h1 span:nth-child(2) {
  -webkit-animation-delay: .05s;
          animation-delay: .05s;
}

h1 span:nth-child(3) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

h1 span:nth-child(4) {
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
}

h1 span:nth-child(5) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

h1 span:nth-child(6) {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

h1 span:nth-child(7) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

h1 span:nth-child(8) {
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

h1 span:nth-child(9) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

h1 span:nth-child(10) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}

h1 span:nth-child(11) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

h1 span:nth-child(12) {
  -webkit-animation-delay: .55s;
          animation-delay: .55s;
}

h1 span:nth-child(13) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

h1 span:nth-child(14) {
  -webkit-animation-delay: .65s;
          animation-delay: .65s;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  overflow: hidden;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.ticker-wrap .ticker {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}

.ticker-wrap .ticker__item {
  font-family: 'Space Mono', monospace;
  display: inline-block;
  padding: 0 2rem;
  font-size: 1rem;
  color: white;
}
/*# sourceMappingURL=App.css.map */